@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

body {
  background: #f8f5f2;
  font-family: "Outfit", sans-serif;
}

select,
input,
textarea {
  border: 1px solid #c2c2c2;
  outline-color: #c586a5;
  border-radius: 4px;
}

.active {
  background-color: #fbe7ef;
  border-color: #d8b4c7;
  color: #b76e8a;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #d8b4c7;
  border-radius: 10px;
}

button {
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-1px);
}